:root {
    --cor-primaria: #E6B07E;
    --cor-secundaria: #665E57;
    --tom1:#EAD8C7;
    --tom2: #B38962;
    --tom3:#664E38;

    --fonte-titulo: 'Exo', sans-serif;
    --fonte-corpo: 'Source Serif 4', sans-serif;
}

body{
    margin: 0;
    width: 100%;
   
    background-color:  var(--tom1);
}